.circle {
    width: 50px;
    cursor: pointer;
    user-select: none;
    height: 50px;
    border-radius: 50px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: #2b2a31;
    color: white;
    box-shadow:
            10px 10px 10px 0px rgba(0, 0, 0, 0.3),
            -5px -5px 10px 0px rgba(256, 256, 256, 0.1);
    margin-right: 5px;
    margin-left: 5px;
}
.circle:hover {
    background-color: #34333a;
    font-size: 19px;
    box-shadow:
            15px 15px 10px 0px rgba(0, 0, 0, 0.3),
            -5px -5px 10px 0px rgba(256, 256, 256, 0.1);
}
.circle:active {
    background-color: #26252b;
    font-size: 17px;
    box-shadow:
            5px 5px 10px 0px rgba(0, 0, 0, 0.8),
            0px 0px 10px 0px rgba(256, 256, 256, 0.1);
}
